<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header class="header-cont flex justify-btwn">
        <h3 class="center"><a class="logo" href="/">USER WEBSITE</a></h3>
        <div class="center">
        <%if (title2) {%>
            <button class="btn-header"><a href="/users/<%= title2 %>"><%= title2 %></a></button>
        <%} %>
        <button class="btn-header"><a href="/users/<%= title %>"><%= title %></a></button>
        </div>
    </header>
</body>
</html>
