<!DOCTYPE html>
<html>
  <head>
    <title>Registration Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="center">Welcome to the Login Page</h1>
    <form action="/users/login/" method="post">
        <label for="email">Email
            <input class="margin" type="email" name="email" placeholder="Email">
        </label>
        <label for="password">Password
            <input class="margin" type="password" name="password" placeholder="Password">
        </label>
            <button class="btn" type="submit">Login</button>
        </label>
    </form>
  </body>
</html>
