<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LOGIN SUCCESSFUL</h1>
    <p>Welcome to your User Page</p>
  </body>
</html>
