<!DOCTYPE html>
<html>
  <head>
    <title >Admin Dashboard</title>
    <link rel='stylesheet' href='../output.css'>
  </head>
  <body>
    <button class=" bg-red-500 hover:bg-red-700 text-white font-bold py-2 p-12 m-4 absolute left-2 top-4"> <a href="/">HOME</a></button> </body>
    <h1 class="font-serif text-4xl text-center p-16">Welcome to the Admin Dashboard, <%= name %></h1>
    <button class=" bg-red-500 hover:bg-red-700 text-white font-bold py-2 p-12 m-4 absolute right-2 top-4"> <a href="/admin/logout">LOGOUT</a></button>
    <div class="text-center">
        <button class=" bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 p-12 m-4"> <a href="/product/add">ADD NEW PRODUCT</a></button> 
        <button class=" bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 p-12 m-4"> <a href="/product/">VIEW ALL PRODUCTS</a></button> 
    </div>
   
</body>
</html>