<!DOCTYPE html>
<html>
  <head>
    <title ><%= title %></title>
    <link rel='stylesheet' href='output.css'>
  </head>
  <body>
    <h1 class="font-serif text-4xl text-center p-16">Welcome to the Product Store</h1>
    <div class="p-8 text-center">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 p-80 m-8"> <a href="/admin/dashboard">DASHBOARD</a> </button>

      <div class="">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 p-80 m-4"> <a href="/admin/signup">ADMIN SIGNUP</a> </button>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 p-80 m-4"> <a href="/admin/login">ADMIN LOGIN</a></button>
      </div>
      <div  class="p-6">
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 p-80 m-4"><a href="/users/signup">USER SIGNUP</a></button>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 p-80 m-4"><a href="/users/login">USER LOGIN</a></button>
      </div>
    </div>
  </body>
</html>
