<!DOCTYPE html>
<html>
  <head>
    <title >User Login</title>
    <link rel='stylesheet' href='../output.css'>
  </head>
  <body>
    <button class=" bg-red-500 hover:bg-red-700 text-white font-bold py-2 p-12 m-4 absolute left-2 top-4"> <a href="/">HOME</a></button> </body>

    <h1 class="font-serif text-4xl text-center p-16">User Login Page</h1>
    <div class="flex justify-center">
        <form class="p-6 divide-solid border-2 border-grey-400 flex flex-col w-96" action="/users/login" method="POST">
            <label class="w-full my-3" for="fname">Email
                <input class="my-2 w-full p-1 divide-solid border-2 border-grey-200" type="email" placeholder="Email" name="email">
            </label>
            <label class="w-full my-3" for="lname">Password
                <input class="my-2 w-full p-1 divide-solid border-2 border-grey-200 " type="password" placeholder="Password" name="password">
            </label>
            <button class=" bg-green-500 hover:bg-green-700 text-white font-bold py-2 p-12 m-4">User Login</button>
        </form>
    </div>
  </body>
</html>
