<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="form-cont">
        <h1 class="center padding">LOGIN Form</h1>
    <form class="column margin" action="/users/login" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button class="btn">LOGIN</button>
    </form>
   </div>
  </body>
</html>


