<!DOCTYPE html>
<html>
  <head>
    <title>Signup PAGE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="form-cont">
        <h1 class="center padding">SIGNUP Form</h1>
    <form class="column margin" action="/users/signup" method="post">
        <input type="text" name="fname" placeholder="First Name">
        <input type="text" name="lname" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="city" placeholder="City">
        <button class="btn">SIGNUP</button>
    </form>
   </div>
  </body>
</html>
